      .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #fff;  /*Sets the text hover color on navbar*/
      }
      
      .navbar-default .navbar-brand:hover,
      .navbar-default .navbar-brand:focus {
          color: #5E5E5E;
          }

      .navbar-default .navbar-brand {
        color: #777;
      }
      .navbar-default .navbar-nav > li > a {
          color: #777;
       }

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
        background-color: #E7E7E7;
        }


      .navbar-default .navbar-toggle {
           border-color: #777;
      }
      .navbar-default {
        background-color: #3c2f2f;
        border-color: #be9b7b;
               }
      body {
        font-family: "Times New Roman", Georgia, serif;
        font-size: 14px;
        color: #000000;
        background-color: #d2d2d2;
        padding-top:50px;
        padding-bottom:50px;
      }

      footer {
        padding-top:50px;
      }
