      h3 {
      font-family: 'Vollkorn', Georgia, serif;
      }
      h2 {
      font-family: 'Vollkorn', Georgia, serif;
      }
      h1 {
      color: #000000;
      font-family: 'Vollkorn', Georgia, serif;
      }
      code {color: #4CAF50; background-color: #eeeeee; font-weight:bold}
      a {color: #E86100;} 
      a:hover {color: #ff7003;}
      .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #ff7003;  /*Sets the text hover color on navbar*/
      }
      .navbar-default .navbar-nav > li > a {
          color: #ffffff;
       }
      
      .navbar-default .navbar-brand:hover,
      .navbar-default .navbar-brand:focus {
          color: #ff7003; /* link hover colors */
          }

      .navbar-default .navbar-brand {
        color: #ff7003;
        font-size: 20px;
        /*color: #777777;*/
      }

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
        color: #ffffff;
        background-color: #ffffff;
        /*background-color: #E7E7E7;*/
        }

    .navbar-default .navbar-toggle .icon-bar {
      background-color: #000000;
        }
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background-color: #003366; /* hover color of hamburger button */
        }
        .navbar-default .navbar-toggle .icon-bar {
            background-color: #ffffff;
            }

        .navbar-default .navbar-toggle {
        background-color: #003366;
            border-color: #003366;
        }

      .navbar-default {
        background-color: #003366;
        /*background-color: #3c2f2f;*/
        border-color: #003366;
               }

      body {
        font-family: 'Vollkorn', Georgia, serif;
        font-size: 16px;
        color: #000000;
        background-color: #ffffff;
        /*background-color: #f1f1f1;*/
        padding-top:50px;
      }

      footer {
        padding-top:50px;
      }

      .btn-default {
          background: #003366;
              color: #ffffff;
              }
      .btn-default:hover {
          background: #003366;
              color: #ff7003;
              }
