{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

    <div class="container">
    <div class="col-sm-7 ">
    <h1>all posts with {{ .Data.Singular }} '{{ lower .Title }}' <span class="glyphicon glyphicon-ok-sign"></span></h1>

        {{ range .Data.Pages }}
            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <span class="lead">{{ .Date.Format "Mon 2 January 2006" }}</span>
{{ partial "taxomonies.html" . }}
            <p>{{ .Summary }}</p>
            
            <a href="{{ .Permalink }}"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-circle-arrow-right"></span> more</button></a>
        </div>
        {{ end }}

        {{ partial "container-footer.html" . }}

    </div>

{{ partial "footer.html" . }}
