{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

    <div class="container">
        <div class="col-sm-6">
        <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
<ul>
{{ $data := .Data }}
{{ range $key, $value := .Data.Terms }}
<div>
<li><a href="{{ $data.Plural }}/{{ $key | urlize }}">{{ $key }}</a> {{ len $value }}</li>
{{ end }}
</ul>
<span class="lead">{{ .Date.Format "Mon 2 January 2006" }}</span>

{{ partial "taxomonies.html" . }}

<ul>
{{ $data := .Data }}
{{ range $key, $value := .Data.Terms }}
<li><a href="{{ $data.Plural }}/{{ $key | urlize }}">{{ $key }}</a> {{ len $value }}</li>
{{ end }}
</ul>

{{ .Content }}
<br>
<a href="{{ .Params.primary_author_url }}" target="_blank"><span class="glyphicon glyphicon-envelope"></span> &nbsp;{{ index .Params.authors 0 }} (primary author)</a>
        {{ partial "reddit.html" . }}
        {{ partial "container-footer.html" . }}

        </div>
     </div>
 
     </div>
     
{{ partial "footer.html" . }}
