{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
    <div class="container">
<section id="main">
<div>
        <div class="col-sm-7">
<h1 id="title">{{ .Title }}</h1>
<ul>
{{ $data := .Data }}
{{ range $key, $value := .Data.Terms.Alphabetical }}
<li><a href="/{{ $data.Plural }}/{{ $value.Name | urlize }}">{{ $value.Name }}</a> [{{ $value.Count }}]</li>
{{ end }}
</ul>
</div>
</div>
</section>
        {{ partial "container-footer.html" . }}
 
     </div>
     
{{ partial "footer.html" . }}
