<h3 style="color:black">You may comment on <span style="color:red">reddit</span>.</h3>
<div style="color:#ff7003;">
<blockquote class="reddit-card"><a href="https://www.reddit.com/r/havronxyz/comments/{{ .Params.reddit_comment_code }}/{{ .Params.reddit_underscored_name }}/?ref=share&ref_source=embed">{{ .Title }}</a><span> from <a href="http://www.reddit.com/r/havronxyz">havronxyz</a></span></blockquote><script async src="//embed.redditmedia.com/widgets/platform.js" charset="UTF-8"></script>
<a href="http://www.redditblog.com/2014/07/how-reddit-works.html" target="_blank">how reddit works</a> | <a href="/../webstats.html#blog" target="_blank">why reddit?</a> | <a href="http://goo.gl/forms/YrwfcdDMdTK4RifY2" target="_blank"><i class="glyphicon glyphicon-send"></i> feedback</a></div>
