{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

    <div class="container">
    <div class="col-sm-6 ">
        <h1>meticulousness, abstraction, xyz</h1>
        {{ range .Data.Pages }}
        <div>
        <h2><a style="color:black" href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <span class="lead">{{ .Date.Format "2 January 2006 (Mon.)" }}</span>

{{ partial "taxomonies.html" . }}
            <p>{{ .Summary }}...</p>
            
            <a href="{{ .RelPermalink }}"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-circle-arrow-right"></span> more</button></a>
        {{ end }}

        {{ partial "container-footer.html" . }}
        </div>
        </div>

    </div>

{{ partial "footer.html" . }}
